.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.messages {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  background-color: #eee;
  color: green;
}

h5 {
  font-weight: normal;
  margin:4px;
}

.chat-app.screen-saver {
  display:none;
}

.chat-input {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  flex-shrink: 0;
}

.chat-input input[type="text"] {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.message-box {
  margin-bottom: 20px;
}

.message-box .time-stamp {
  font-size: .5rem;
  color: gray;
}

.message-box.from-me {
  text-align: right;
  margin-bottom: 5px;
}

.message-box.from-me .message-body {
  background-color: hsl(113, 34%, 58%);
  color: white;
}

.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 10px 14px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}